body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}
html,body{
    width:100%;
    height:100%;
}
ol,
ul {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
    cursor: pointer;
}


/* 树组件块
  =============================================================
 */

.tree { 
    font-size: 0;
}

.tree a {
    position: relative;
    font-size: 14px;
}

.tree a:hover,
.cur-selected {
    border: 1px solid #FFB951;
    background-color: #FFE6B0;
}

.tree ul { 
    padding-left: 15px;
}

.tree li {
    padding: 2px 0;
}
.tree input {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height:100%;
    line-height: 23px;
} 

.icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    cursor: pointer
}

.icon-triangle-open {
    background: url(../imgs/tree.png) -21px -74px
}

.icon-triangle-close {
    background: url(../imgs/tree.png) -3px -74px
}

.icon-folder-open {
    background: url(../imgs/tree.png) -36px -17px
}

.icon-folder-close {
    background: url(../imgs/tree.png) -36px -0px;
}

.icon-file {
    position: relative;
    top:1px;
    background: url(../imgs/tree.png) -36px -31px;
}

#tree-panel{
    position: fixed;
    width:100px;
    padding:5px;
    background-color:#f0f6e4; 
}
#tree-panel li{  
      margin:3px 0;
     
}
#tree-panel button{ 
      box-sizing: border-box;
      width:100%;
      height: 22px;
      border: 1px solid #617775;
      border-radius: 3px;
      text-align: center;
      line-height: 20px;
      cursor: pointer; 
}


