body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

ol,
ul {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
    cursor: pointer;
}


/* 树组件块
  =============================================================
 */

.tree {
    font-size: 0;
}

.tree a {
    position: relative;
    font-size: 14px;
}

.tree a:hover,
.cur-selected {  
    background-color: #FFE6B0;
}

.tree ul {
    padding-left: 16px;
}

.tree li {
    padding: 2px 0;
}

.tree input {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    line-height: 23px;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 2px;
    cursor: pointer
}

.icon-triangle-open {
    background: url(../imgs/zTree.png) no-repeat -95px -73px;
}

.icon-triangle-close {
    background: url(../imgs/zTree.png) no-repeat -77px -73px;
}

.icon-folder-open {
    background: url(../imgs/zTree.png) no-repeat -110px -16px;
}

.icon-folder-close {
    background: url(../imgs/zTree.png) no-repeat -111px 0;
}

.icon-file {
    position: relative;
    top: 1px;
    background: url(../imgs/zTree.png) no-repeat -110px -32px;
}

.icon-checkbox-no {
    width: 15px;
    background: url(../imgs/zTree.png) no-repeat 1px 1px;
}

.icon-checkbox-no:hover {
    background: url(../imgs/zTree.png) no-repeat 1px -13px;
}

.icon-checkbox-selected-part {
    width: 15px;
    background: url(../imgs/zTree.png) no-repeat -13px -27px;
}

.icon-checkbox-selected-part:hover {
    background: url(../imgs/zTree.png) no-repeat -13px -41px;
} 
.icon-checkbox-selected-full {
    width: 15px;
    background: url(../imgs/zTree.png) no-repeat -13px 1px;
}

.icon-checkbox-selected-full:hover {
    background: url(../imgs/zTree.png) no-repeat -13px -13px;
}

#tree-panel {
    position: fixed;
    width: 100px;
    padding: 5px;
    background-color: #f0f6e4;
}

#tree-panel li {
    margin: 3px 0;
}

#tree-panel button {
    box-sizing: border-box;
    width: 100%;
    height: 22px;
    border: 1px solid #617775;
    border-radius: 3px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}
